	body {
		background-color: #441022;
	}
	h1 {
		color: white;
		font-size: 28px;
		margin-top: 50px;
		text-align: center;
		font-weight: bold;
	}
	h2 {
		color: white;
		font-size: 15px;
		text-align: center;
	}
	script { 
		display: none;
	}
	canvas {
		position: relative;
		margin-left: 20%;
	}
	h3 {
		position: absolute;
		text-align: left;
		font-size: 12px;
		color: gray;
	}