	body {
		background-color: #441622;
	}
	h1 {
		color: white;
		font-size: 28px;
		margin: 0 50 auto;
		text-align: center;
		font-weight: bold;
	}
	h2 {
		color: white;
		font-size: 15px;
		margin: 0 auto;
		padding: 10 10 100 10;
		text-align: center;
	}
	script { 
		display: none;
	}
	canvas {
		position: relative;
	}
	h3 {
		position: absolute;
		text-align: left;
		font-size: 12px;
		color: gray;
		text-decoration: none;
	}
	a:link {
		color: white;
	}
	a:visited {
		color: white;
	}